@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Schoolbell&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;700&display=swap');
@import "admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "admin-lte/plugins/select2/css/select2.min.css";
@import "admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
@import "admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css";
@import "admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "admin-lte/plugins/toastr/toastr.min.css";
@import "admin-lte/dist/css/adminlte.min.css";


body{
    font-family: 'Catamaran', 'Courier New', Courier, monospace;
}

.hurricane {
    font-family: "Hurricane", cursive, "Courier New", Courier, monospace;
}
